<body>
<h1 class = police>Could give me a question ? </h1>
<div class="container">
<form class="forma" action="answer" method="get">
  <input type="text" name="question" <%= params[:question] %>>
  <input type="submit" id="submit" value="Ask!">
</form>
</div>
</body>
